
/* Styles for Fullcalendar Colors Admin page */

.fieldset-wrapper {
  overflow: auto;
}

.fieldset-wrapper .form-item {
  width: 33%;
  float: left;
  display: block;
}

.fieldset-wrapper .form-type-checkbox {
  width: 100%;
}